// out: ../css/styles.css
@semibold10: 10px ProximaNovaSemibold;
@semibold13: 13px ProximaNovaSemibold;
@bold13: 13px ProximaNovaBold;
@bold18: 18px ProximaNovaBold;
@gray:#9c9c9c;
@black:#1e1e1e;
@gold:#c59a77;
@padding-small:20px;
@padding-top-bot:20px 0;
@padding-left-right:0 30px 0 40px;
@border:1px solid #f2f2f2;
//media
@mobile : ~"(max-width: 480px)";
@tablet-min: ~"(max-width: 768px)";
@tablet-md: ~"(max-width: 1024px)";
@tablet-max: ~"(max-width: 1240px)";
@desktop-min: ~"(max-width: 1360px)";
@desktop-md: ~"(max-width: 1600px)";
@desktop-max: ~"(max-width: 1601px)";

.responsive(){
    width:100%;
    height: auto;
}
.shop-h3(){
    width: 50%;
    font: @bold18;
    text-transform: uppercase;
    margin: 0;
    @media @tablet-min{
        font-size: 14px;
    }
 }
.anchor(){
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
.clearfix(){
    &:after {
  content: "";
  display: table;
  clear: both;
}
}

@font-face{
    font-family: ProximaNovaBold;
    src: url(../fonts/ProximaNovaBold.otf)
}
@font-face{
    font-family: ProximaNovaRegular;
    src: url(../fonts/ProximaNovaRegular.otf)
}
@font-face{
    font-family: ProximaNovaSemibold;
    src: url(../fonts/ProximaNovaSemibold.otf)
}
@font-face{
    font-family: TrajanPro-bold;
    src: url(../fonts/TrajanPro-Bold.otf)
}
@font-face{
    font-family: TrajanPro-regular;
    src: url(../fonts/TrajanPro-Regular.otf)
}
@font-face{
    font-family: Brandon_bld;
    src: url(../fonts/Brandon_bld.otf)
}
.main_menu_button{
    border-radius:50%;
    overflow: hidden;
    display: none;
    position: fixed;
    top: 50px;
    left: 30px;
    width: 40px;
    height: 40px;
    background: #ffffff url("../img/home.png") center no-repeat;
    background-size:20px 20px ;
    z-index: 50;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16);
    img{
        .responsive();
    }
    @media @tablet-md{
        display: block;
    }
}
.top{
    .clearfix();
    font:@semibold10;
    color:@gray;
    text-transform: uppercase;
    position: relative;
    >*{
        display:inline-block
    }
    .top-col-center{
        width: 50%;
        padding-top: 8px;
        a{
            .anchor();
            color:@gray;
            padding: @padding-small;
        }
        ul{
            padding-left: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            li{
                display: inline-block;
                @media @tablet-md{
                    display: block;
                }
            }
        }
        @media @tablet-md{
            position: absolute;
            top: 15%;
            left:0;
            transform:translateX(-100%);

        }
    }
    .top-col-right{
        padding: @padding-small;
        width: 19%;
        div{
            width: 49%;
            display: inline-block;
        }
        .basket{
            width: 20%;
            padding-top:3px;
            img{
                position: relative;
                top:2px;
            }
            span{
                color:@black;
            }
        }
        @media @tablet-md{
            width: 49%;
            position: relative;
        }
    }
    .top-col-left{
        .top-col-right;
        width: 25%
    }
}
.num{
    font-size: 19px;
    color:@black;
    @media @tablet-min{
        font-size: 14px;
    }
}
.float-left{
    float: left;
    text-align: left;
}
.float-right{
    float: right;
    text-align: right;
}
.site-header{
    color:@black;
    font:32px Brandon_bld;
    text-transform: uppercase;
    text-align: center;
}
.products{
    font:@bold13;
    padding: @padding-left-right;
    border:@border;
    .nav_button{
        position: absolute;
        width: 40px;
        height: 40px;
        right: 30px;
        display: none;
        span{
            display: block;
            width: 100%;
            height: 4px;
            background: @black;
            margin-top: 19%;
            border-radius: 4px;

        }
        @media @tablet-md{
            display: block;
        }

    }
    .products-menu{
        padding-left: 0;
        list-style: none;
        text-align: justify;
        margin: 0;
        a{
            .anchor();
            color: @black;
            text-align: center;
            padding: @padding-top-bot;
        }
        li{
            display: inline-block;
            width:10.2%;
            &:last-child{
                width: 5%;
                @media @tablet-md{
                    width: 100%
                }
            }
            @media @tablet-md{
                display: block;
                text-align: center;
                width:100%;
            }
        }
        @media @tablet-md{
            margin-top: 40px;
            max-height: 0px;
        }
    }
}
.slider{
    position: relative;
    .slider_description{
        position: absolute;
        top: 0;
        left: 0;
        width: 35%;
        padding: 5%;
        h2{
            font-family: TrajanPro-regular;
            text-transform: uppercase;
            font-size: 72px;
            font-weight: 400;
            margin: 0 0 35px;
            padding-bottom: 25px;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                height: 2px;
                border-radius: 2px;
                width: 10%;
                left: 0;
                bottom: 0;
                background-color: @black;
            }
        }
        span{
            display: block;
            font: @bold18;
        }
        img{
            width: 50%;
            height: auto;
            position: absolute;
            right: 0;
            bottom: -52%;
        }
    }
    .slider_index{
        position: absolute;
        top: 30px;
        right: 30px;
        li{
            width: 10px;
            height: 10px;
            border: 3px solid #fff;
            border-radius: 50%;
            display: block;
            list-style: none;
            &.active{
                border: none;
                background-color: #fff;
            }
        }
    }
    .slide{
        .responsive();
    }
    .control{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background: #fff url(../img/arrow.png) center no-repeat;
        position: absolute;
        right: 30px;
        top: 45%;
    }
}
.intro{
    .clearfix();
    .intro_item{
        display: inline-block;
        position: relative;
        float: left;
        width: 33.333%;
        .intro_header{
            position:absolute;
            top:0;
            left:0;
            margin-top: 30px;
            font:@bold18;
            padding: @padding-left-right;                @media @tablet-md{
                margin-top: 20px;
                padding-left: @padding-small;
                font-size: 14px;
            }
            @media @tablet-min{
                margin-top: 10px;
            }
        }
        .intro_header-black{
            color:@black;
            ~button{
                background:@black url(../img/arrow1.png) center no-repeat;
            }
         }
        .intro_header-gold{
             color:@gold;
            ~button{
                background: @gold url(../img/arrow2.png) center no-repeat;
            }
        }
        .intro_header-white{
            color:#fff;
            ~button{
                background: white url(../img/arrow.png) center no-repeat;
            }
        }
        img{
            .responsive();
        }
        button{
            position: absolute;
            bottom: 30px;
            left: 30px;
            border: none;
            outline:none;
            border-radius:50%;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition: all .4s;
            @media @tablet-md{
                bottom: 20px;
                left:20px;
                width: 30px;
                height: 30px;
            }
            @media @tablet-min{
                bottom: 10px;
            }
        }
        &:hover{
            button{
                opacity:.3;
            }
        }
    }
}
.shop{
    .shop_item{
        width: 33.33%;
        display: inline-block;
        border-bottom: @border;
        border-left: @border;
        position: relative;
        transition: all .4s;
        float: left;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: @gold;
            opacity: 0;
            top: 0;
            left: 0;
            transition: all .4s;
        }
        &:hover{
            &::before{
                opacity: .25
            }
            button{
                background: @gold url('../img/basket1.png') center no-repeat;
                cursor: pointer;
            }
        }
        img{
            .responsive();
        }
        .shop_info{
            position: absolute;
            padding: 30px;
            top: 0;
            left: 0;
            width: 100%;

            h3{
                .shop-h3();
            }
            span{
                color: @gray;
                font: @semibold13;
                margin-top: 30px;
                display: block;
                width:40%;
                @media @tablet-min{
                    font-size: 12px;
                    margin-top: 20px;
                }
            }
            @media @tablet-min{
                padding: @padding-small;
            }
        }
        .shop_price{
            font-size: 18px;
            position: absolute;
            bottom: 30px;
            left: 30px;
            font-size: 18px;
            font-family: ProximaNovaSemibold;
            color: @gray;
            @media @tablet-min{
                font-size: 14px;
                bottom: 20px;
                left: 20px;
            }
            }
        button{
            position: absolute;
            bottom: 30px;
            right: 30px;
            background: #fff url('../img/basket.png') center no-repeat;
            width:40px;
            height: 40px;
            border-radius: 50%;
            border: none;
            outline: none;
            box-shadow: 0px 3px 4px rgba(0,0,0,.16);
            transition:all .4s;
        }
        @media @tablet-md{
            width: 50%;
        }
    }
    .shop_card{
        float: left;
        width: 66.67%;
        position: relative;
        @media @tablet-md{
            width: 100%
        }
        img{
            .responsive();
        }
        h3{
            .shop-h3();
            width: 100%

        }
        .shop_card_description{
            padding: 30px;
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            p{
                font-family: ProximaNovaRegular;
                font-size: 14px;
                color: #535151;
                @media @tablet-min{
                    font-size: 11px;
                }
            }
            @media @tablet-min{
                padding: @padding-small;
            }
        }
    }
}
footer{
    position: relative;
    top: -1px;
    .clearfix;
    background-color:@black;
    padding-bottom: 70px;
    span,a{
        color:@gray;
        font: @semibold13;
        display: block;
        @media @tablet-min{
            font-size: 11px
        }
    }
    h3{
        .shop-h3;
        color: #fff;
        width: 100%
    }
    ul{
        list-style: none;
        padding-left: 0;
        margin: 0;
        li{
            padding-top:@padding-small;
            img{
                width: 65%;
                height: auto;
            }
        }
    }
    .footer_column{
        display: inline-block;
        float: left;
        width: 16.66%;
        padding: 30px;
        @media @tablet-min{
            width: 33.33%;
        }

    }
    .footer_column_media{
        text-align: center;
        li{
            display: inline-block;
            width: 33.33%;
            float: left;
            a{
                width: 40px;
                height: 40px;
                background: @gold;
                border-radius:50%;
                position: relative;
                img{
                    height: 20px;
                    width: auto;
                    position: absolute;
                    top: 10px;
                    left: 10px
                }
            }
        }
    }

}
.row{
    .clearfix();
}

