// out: ../css/styles.css
@semibold10: 10px ProximaNovaSemibold;
@semibold13: 13px ProximaNovaSemibold;
@bold13: 13px ProximaNovaBold;
@bold18: 18px ProximaNovaBold;
@gray:#9c9c9c;
@black:#1e1e1e;
@gold:#c59a77;
@padding-small:20px;
@padding-top-bot:20px 0;
@padding-left-right:0 30px 0 40px;
@border:1px solid #f2f2f2;

.responsive(){
    width:100%;
    height: auto;
}
.anchor(){
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
.clearfix(){
    &:after {
  content: "";
  display: table;
  clear: both;
}
}

@font-face{
    font-family: ProximaNovaBold;
    src: url(../fonts/ProximaNovaBold.otf)
}
@font-face{
    font-family: ProximaNovaRegular;
    src: url(../fonts/ProximaNovaRegular.otf)
}
@font-face{
    font-family: ProximaNovaSemibold;
    src: url(../fonts/ProximaNovaSemibold.otf)
}
@font-face{
    font-family: TrajanPro-bold;
    src: url(../fonts/TrajanPro-Bold.otf)
}
@font-face{
    font-family: TrajanPro-regular;
    src: url(../fonts/TrajanPro-Regular.otf)
}
@font-face{
    font-family: Brandon_bld;
    src: url(../fonts/Brandon_bld.otf)
}
.top{
    font:@semibold10;
    color:@gray;
    text-transform: uppercase;
    >*{
        display:inline-block
    }
    .top-col-center{
        width: 50%;
        padding-top: 8px;
        a{
            .anchor;
            color:@gray;
            padding: @padding-small;
        }
        ul{
            padding-left: 0;
            margin: 0;
            list-style: none;
            text-align: center;
            li{
                display: inline-block;
            }
        }
    }
    .top-col-right{
        padding: @padding-small;
        width: 19%;
        div{
            width: 49%;
            display: inline-block;
        }
        .basket{
            width: 20%;
            padding-top:3px;
            img{
                position: relative;
                top:2px;
            }
            span{
                color:@black;
            }
        }
    }
    .top-col-left{
        .top-col-right;
        width: 25%
    }
}
.num{
        font-size: 19px;
        color:@black;
}
.float-left{
    float: left;
    text-align: left;
}
.float-right{
    float: right;
    text-align: right;
}
.site-header{
    color:@black;
    font:32px Brandon_bld;
    text-transform: uppercase;
    text-align: center;
}
.products{
    font:@bold13;
    padding: @padding-left-right;
    border:@border;

    .products-menu{
        padding-left: 0;
        list-style: none;
        text-align: justify;
        margin: 0;
        a{
            .anchor;
            color: @black;
            text-align: center;
            padding: @padding-top-bot;
        }
        li{
            display: inline-block;
            width:10.2%;
            &:last-child{
                width: 5%;
            }
        }
    }
}
.slider{
    img{
        .responsive;
    }
}
.intro{
    .clearfix;
    .intro_item{
        display: inline-block;
        position: relative;
        float: left;
        width: 33.333%;
        .intro_header{
            position:absolute;
            top:0;
            left:0;
            margin-top: 30px;
            font:@bold18;
            padding: @padding-left-right;
        }
        .intro_header-black{
            color:@black;
            ~button{
                background:@black url(../img/arrow1.png) center no-repeat;
            }
         }
        .intro_header-gold{
             color:@gold;
            ~button{
                background: @gold url(../img/arrow2.png) center no-repeat;
            }
        }
        .intro_header-white{
            color:#fff;
            ~button{
                background: white url(../img/arrow.png) center no-repeat;
            }
        }
        img{
            .responsive;
        }
        button{
            position: absolute;
            bottom: 30px;
            left: 30px;
            border: none;
            outline:none;
            border-radius:50%;
            width: 40px;
            height: 40px;
            cursor: pointer;
            &:hover{
                opacity: .3;
            }
        }
    }
}
